<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dashboard.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/owl.carousel.min.css">
  <link rel="stylesheet" href="/owl.theme.default.min.css">

  <title>Document</title>
</head>


<body>
  <!-- link navbar -->
  <header class="heading-container">
    <nav class="navbar navbar-expand-lg bg-light navbar-heading">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="image-link"
            src="https://home.ahamove.com/wp-content/uploads/2019/05/logo-30shine.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="font-weight: 700;">TRẢI NGHIỆM DỊCH VỤ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="font-weight: 700;">30SHINE SHOP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="font-weight: 700;">HÀNH TRÌNH TỎA SÁNG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="font-weight: 700;">KHÁM PHÁ KIỂU TÓC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="font-weight: 700;">TÌM 30 SHINE GẦN
                NHẤT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="font-weight: 700;">TUYỂN DỤNG</a>
            </li>
          </ul>
          <!-- login -->
          <div class="btn-login">
            <button type="button" class="btn btn-primary btn-signin" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <img class="icon-btn"
                src="https://media.istockphoto.com/vectors/crown-icon-in-flat-style-black-crown-vector-icon-vector-id955040404?k=20&m=955040404&s=170667a&w=0&h=DKOyqH08Cq07KD6KC9g0U8dUJ7LG9F9LWM2smONGBVw="
                alt=""> Đăng nhập
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="header-login">
                      <div class="header-title">
                        <h4>ĐĂNG NHẬP</h1>
                          <p>Số điện thoại của anh là gì ạ?</p>
                      </div>
                      <div class="form-login">
                        <form action="login-form" name="formlogin">
                          <input class="text-phone" type="tel" name="tel" placeholder="Ví dụ: 0912.xxx.xxx">
                          <input class="text-phone" type="password" name="passwordtel" style="margin-top:20px ;"
                            placeholder="Vui lòng nhập mật khẩu">

                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">

                    <button type="button " class="btn btn-primary btn-continue">TIẾP TỤC</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary primary" type="button">Button</button>
            <ul class="list-group list-groupItem ">
              <li class="list-group-item">Lịch sử toả sáng</li>
              <li class="list-group-item">Đăng xuất</li>
            </ul>
          </div>

        </div>
      </div>
    </nav>



  </header>

  <header class="carousel">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner carousel-image">
        <div class="carousel-item active">
          <img src="/image/20220119_BannerSC100_w.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/image/ban3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/image/banner_salon_4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/image/Banner_2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/image/20220725_shop_01_w.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="home__form-input">
      <div class="form-input__slogan">
        <div class="slogan__title">Đặt lịch giữ chỗ chỉ 30 giây</div>
        <div class="slogan__text">Cắt xong trả tiền, hủy lịch cho xin cái địa chỉ</div>
      </div>
      <div class="form-input__form flex">
        <div class="form__input">
          <input class="input" placeholder="Nhập SDT để đặt lịch" type="tel" name="telbooking" class="my-input"
            value="">
        </div>
        <div class="form__button btn-action btn-color-1 content-center-middle" role="presentation">
          <button class="btn-booking"> ĐẶT LỊCH NGAY</button>
        </div>
      </div>
    </div>
  </header>

  <div class="layout layout-service">
    <!-- Trai nghiem dịch vụ -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Trải nghiệm dịch vụ
            </div>
            <div class="head__title head__sub-title">Thư giãn 30 phút và bạn sẽ tỏa sáng</div>

          </div>
          <div class="head__text-view-all"><span>Xem tất cả</span><img src="#" alt=""></div>
        </div>
      </a>
      <div class="layout__banner hover">
        <div class="banner__media">
          <a href="/dich-vu-khac" rel="noreferrer">
            <div class="image-hovermedia">
              <img class="image-hover"
                src="https://storage.30shine.com/ResourceWeb/data/images/home/20220104-30shine-banner-shine-combo-1.jpg"
                alt="">
            </div>

          </a>

        </div>

      </div>
      <!-- item media  -->
      <div class="layout-list">

        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://blog.30shine.com/wp-content/uploads/2021/01/IMG_8570-1024x683.jpg"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Cắt gội massage
                </div>
                <div class="subtitle-item">
                  Bảng giá 2022( Hấp dẫn)
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://cafebiz.cafebizcdn.vn/162123310254002176/2020/4/23/photo-2-15876464008991084458484.png"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Uốn nhập khẩu Hàn

                </div>
                <div class="subtitle-item">
                  Chỉ từ 287k

                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://image-us.24h.com.vn/upload/4-2019/images/2019-11-07/untitled-1-1573102483-76-width640height480.jpg"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Uốn nhập khẩu Ý
                </div>
                <div class="subtitle-item">
                  Chỉ từ 206k
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://cdn.jamja.vn/blog/wp-content/uploads/2020/09/tiem-cat-toc-nam-dep-o-ha-noi-1.jpg" alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Dịch vụ khác
                </div>
                <div class="subtitle-item">
                  4 dịch vụ
                </div>
              </div>
            </div>

          </a>
        </div>
      </div>
    </div>
    <!-- Top 1 dịch vụ -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Top 1 dich vụ được yêu thích nhất
            </div>
            <div class="head__title head__sub-title">30Shine - Tự hào lan tỏa phong cách uốn tóc Hàn Quốc tới nam giới
              Việt</div>

          </div>

        </div>
      </a>
      <div class="layout__banner hover">
        <div class="banner__media">
          <a href="/dich-vu-khac" rel="noreferrer">
            <div class="image-hovermedia">
              <img class="image-hover"
                src="https://storage.30shine.com/ResourceWeb/data/images/home/uon/30shine-banner-khoi-uon-pc.jpg"
                alt="">
            </div>

          </a>

        </div>

      </div>
      <!-- item media  -->
      <div class="layout-list">

        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://static.30shine.com/shop-admin/2022/04/06/30SL6C6M-Serum%20D%C6%B0%E1%BB%A1ng%20Da%20DABO%20-%20USP.jpg"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Serum Dưỡng Da Dabo 7in1 Black Force
                </div>
                <div class="subtitle-item">
                  Được sao Hàn tin dùng
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://znews-photo.zingcdn.me/w660/Uploaded/wyhktpu/2020_02_22/30shine_0.jpg" alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Stylist tay nghề cao

                </div>
                <div class="subtitle-item">
                  100% áp dụng công nghệ...

                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://storage.30shine.com/ResourceWeb/data/images/Service/uon-han-quoc/30-shine-uon-han-quoc-8-cap-do-2.jpg"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Đa dạng phong cách
                </div>
                <div class="subtitle-item">
                  Bao đẹp trai với mọi khuôn mặt
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://blog.30shine.com/wp-content/uploads/2019/07/Webp.net-resizeimage-2-1.jpg" alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Công nghệ hiện đại
                </div>
                <div class="subtitle-item">
                  Nhiều thành phần dưỡng tóc
                </div>
              </div>
            </div>

          </a>
        </div>
      </div>
    </div>
    <!-- lang nghe va tan tam -->
    <div class="layout layout-blog">
      <div class="container">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Lắng nghe & tận tâm
            </div>
            <div class="head__title head__sub-title">Thấu hiểu nhu cầu, hỗ trợ nhiệt tình</div>

          </div>
        </div>
        <div class="layout-blogimage blogimage">
          <div class="swiper-container container-horizontal">
            <div class="swiper-wrapper">
              <div class="swiper-slide blog">
                <a href="#" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://blog.30shine.com/wp-content/uploads/2019/01/den-30Shine-de-duoc-cac-bong-hong-cham-soc-dep-trai-3.jpg"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__title">Click vào nhóm 20,000 Khách hàng - Lắng nghe, chia sẻ mọi thông tin anh cần!
                  </div>
                </a>
              </div>
              <div class="swiper-slide blog">
                <a href="#" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://storage.30shine.com/ResourceWeb/data/images/home/lang-nghe-va-tan-tam/lang-nghe-tan-tam-1.jpg"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__title">Nói gì với stylist để anh có kiểu tóc ưng ý
                  </div>
                </a>
              </div>
              <div class="swiper-slide blog">
                <a href="#" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://storage.30shine.com/ResourceWeb/data/images/home/lang-nghe-va-tan-tam/lang-nghe-tan-tam-2.jpg"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__title">Supporter thân thiện - Đón tiếp, lắng nghe và hỗ trợ bạn mọi lúc
                  </div>
                </a>
              </div>
              <div class="swiper-slide blog">
                <a href="#" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://cafebiz.cafebizcdn.vn/162123310254002176/2020/10/10/unnamed-3-1602301820046521515565.jpg"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__title">Những câu hỏi thường gặp
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- owlCaroself -->
    <!-- <div class="owlcarousel"></div> -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              30Shine’s Angels
            </div>
            <div class="head__title head__sub-title">Những thiên thần xinh đẹp hết lòng vì khách hàng</div>

          </div>

        </div>
      </a>
      <div class="owl-carousel owl-theme owl-carousel-theme">
        <div class="item">
          <img class="img-media image-item"
            src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-skinner-angels/10836.jpg" />
          <div class="booking-content">
            <a href="">
              <div class="booking-now">
                <div class="image-booking">
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </div>
                <div class="title-booking">Book lịch ngay</div>
              </div>
            </a>
            <a href="">
              <div class="face-group">
                <div class="image-booking">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="title-booking">Vào group salon</div>
              </div>
            </a>

          </div>
        </div>
        <div class="item">
          <img class="img-media image-item"
            src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-skinner-angels/7312.jpg" />
          <div class="booking-content">
            <a href="">
              <div class="booking-now">
                <div class="image-booking">
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </div>
                <div class="title-booking">Book lịch ngay</div>
              </div>
            </a>
            <a href="">
              <div class="face-group">
                <div class="image-booking">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="title-booking">Vào group salon</div>
              </div>
            </a>

          </div>
        </div>
        <div class="item">
          <img class="img-media image-item"
            src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-skinner-angels/5729.jpg" />
          <div class="booking-content">
            <a href="">
              <div class="booking-now">
                <div class="image-booking">
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </div>
                <div class="title-booking">Book lịch ngay</div>
              </div>
            </a>
            <a href="">
              <div class="face-group">
                <div class="image-booking">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="title-booking">Vào group salon</div>
              </div>
            </a>

          </div>
        </div>
        <div class="item">
          <img class="img-media image-item"
            src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-skinner-angels/8401.jpg" />
          <div class="booking-content">
            <a href="">
              <div class="booking-now">
                <div class="image-booking">
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </div>
                <div class="title-booking">Book lịch ngay</div>
              </div>
            </a>
            <a href="">
              <div class="face-group">
                <div class="image-booking">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="title-booking">Vào group salon</div>
              </div>
            </a>

          </div>
        </div>
        <div class="item">
          <img class="img-media image-item"
            src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-skinner-angels/7595.jpg" />
          <div class="booking-content">
            <a href="">
              <div class="booking-now">
                <div class="image-booking">
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </div>
                <div class="title-booking">Book lịch ngay</div>
              </div>
            </a>
            <a href="">
              <div class="face-group">
                <div class="image-booking">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="title-booking">Vào group salon</div>
              </div>
            </a>

          </div>
        </div>
        <div class="item">
          <img class="img-media image-item"
            src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-skinner-angels/6158.jpg" />
          <div class="booking-content">
            <a href="">
              <div class="booking-now">
                <div class="image-booking">
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </div>
                <div class="title-booking">Book lịch ngay</div>
              </div>
            </a>
            <a href="">
              <div class="face-group">
                <div class="image-booking">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="title-booking">Vào group salon</div>
              </div>
            </a>

          </div>
        </div>
        <div class="item">
          <img class="img-media image-item"
            src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-skinner-angels/3561.jpg" />
          <div class="booking-content">
            <a href="">
              <div class="booking-now">
                <div class="image-booking">
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </div>
                <div class="title-booking">Book lịch ngay</div>
              </div>
            </a>
            <a href="">
              <div class="face-group">
                <div class="image-booking">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
                <div class="title-booking">Vào group salon</div>
              </div>
            </a>

          </div>
        </div>
      </div>

      <!--for demo-->

    </div>
    <!-- Khong gian va thiet bi -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Không gian & thiết bị
            </div>
            <div class="head__title head__sub-title">Nạp năng lượng với trải nghiệm không gian mở</div>
          </div>
        </div>
      </a>
      <div class="layout__banner hover">
        <div class="banner__media">

          <div class="image-hovermedia">
            <img class="image-hover"
              src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-banner-khong-gian-salon.jpg" alt="">
          </div>


        </div>
        <div class="banner__wrapper">
          <div class="banner__text">Phá vỡ giới hạn của một tiệm tóc truyền thống, 30Shine mang đến không gian trải
            nghiệm hoàn toàn mới với diện tích lớn trên 200m2/ 16 ghế cắt. Tất cả đều được đặt tại vị trí dễ tìm trên
            những con phố lớn, hòa vào cuộc sống sôi động của người đàn ông hiện đại.</div>
        </div>
      </div>
      <!-- item media  -->
      <div class="layout-list">

        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://file.hstatic.net/1000028508/file/72985951_2659014687475454_8250305358669545472_n_477425288254420cb11c9686aeead85c_grande.jpg"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Salon rộng lớn dễ tìm
                </div>
                <div class="subtitle-item">
                  Không gian mở & kết nối
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="https://cafefcdn.com/thumb_w/650/203337114487263232/2020/11/21/photo1605927509487-16059275096331393701668.jpg"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Trang thiết bị 30Shine SET™

                </div>
                <div class="subtitle-item">
                  Nâng cấp trải nghiệm làm đẹp

                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://static2.yan.vn/YanNews/2167221/201811/p1422206-1-fe2fb9d7.JPG"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Làm chủ thời gian
                </div>
                <div class="subtitle-item">
                  Đặt lịch & các tiện ích 30Shine App
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media"
                  src="http://minhkiet.com.vn/wp-content/uploads/2017/12/phong-cach-hair-salon-co-dien01.jpg" alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Trải nghiệm âm nhạc
                </div>
                <div class="subtitle-item">
                  Năng lượng & Cảm xúc
                </div>
              </div>
            </div>

          </a>
        </div>
      </div>
    </div>

    <!-- Kham pha kieu toc -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Khám phá kiểu tóc
            </div>
            <div class="head__title head__sub-title">Nguồn cảm hứng cho kiểu tóc mới của bạn</div>
          </div>
        </div>
      </a>
      <div class="layout__banner hover">
        <div class="banner__media">

          <div class="image-hovermedia">
            <a href="#"> <img class="image-hover"
                src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-banner-kham-pha-kieu-to.jpg"
                alt=""></a>

          </div>


        </div>
        <div class="banner__wrapper">
          <div class="banner__title">KHÁM PHÁ KIỂU TÓC</div>
          <div class="banner__texttrend">Nguồn cảm hứng cho kiểu tóc mới của bạn từ hàng ngàn mẫu tóc hot trend do
            30Shine thiết kế</div>
        </div>
      </div>
      <!-- item media  -->

    </div>
    <!-- Shine member -->
    <div class="layout layout-blog">
      <div class="container">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Shine Member
            </div>
            <div class="head__title head__sub-title">Tham gia ngay cùng 700.000 hội viên với quyền lợi đặc biệt</div>

          </div>
        </div>
        <div class="layout-blogimage blogimage">
          <div class="swiper-container container-horizontal">
            <div class="swiper-wrapper">
              <div class="swiper-slide blog">
                <a href="#" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://storage.30shine.com/ResourceWeb/data/images/home/20220103-ShineMember2022-v2.jpg"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__titlemember">Silver/ Gold Member và hàng ngàn quyền lợi
                  </div>
                </a>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 30shine shop -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              30Shine Shop
            </div>
            <div class="head__title head__sub-title">Mỹ phẩm nam cao cấp chính hãng</div>
          </div>
        </div>
      </a>
      <div class="layout__banner hover">
        <div class="banner__media">

          <div class="image-hovermedia">
            <a href="#"> <img class="image-hover"
                src="https://storage.30shine.com/ResourceWeb/data/images/home/banner-shop-1.jpg?v=1" alt=""></a>

          </div>
        </div>
      </div>
      <!-- item media  -->
      <div class="layout-list">


      </div>
    </div>
    <!-- Cam ket 30shine care -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Cam kết 30shine Care
            </div>
            <div class="head__title head__sub-title">Sự hài lòng của anh là ưu tiên hàng đầu của 30Shine</div>
          </div>
        </div>
      </a>
      <div class="layout__banner hover">
        <div class="banner__media">

          <div class="image-hovermedia">
            <a href="#"> <img class="image-hover"
                src="https://storage.30shine.com/ResourceWeb/data/images/home/banner-30shine-care-5.jpg" alt=""></a>

          </div>


        </div>
        <div class="banner__wrapper">
          <div class="banner__titleCare">VÌ CHẤT LƯỢNG PHỤC VỤ LÀ HÀNG ĐẦU</div>
          <div class="banner__textCare">Áp dụng tại salon bất kỳ toàn hệ thống 30Shine</div>
        </div>
      </div>
      <!-- item media  -->
      <div class="layout-list">

        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://storage.30shine.com/ResourceWeb/data/images/newHome/2-care.png"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  7 ngày
                </div>
                <div class="subtitle-item">
                  Chỉnh sửa tóc miễn phí
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://storage.30shine.com/ResourceWeb/data/images/home/30days-care.jpg"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  30 ngày

                </div>
                <div class="subtitle-item">
                  Đổi/ trả hàng miễn phí

                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://storage.30shine.com/ResourceWeb/data/images/newHome/3-care.png"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  15 ngày
                </div>
                <div class="subtitle-item">
                  Bảo hành Uốn Nhuộm
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://storage.30shine.com/ResourceWeb/data/images/newHome/4-care.png"
                  alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Giảm 20%
                </div>
                <div class="subtitle-item">
                  Nếu chờ đợi quá lâu
                </div>
              </div>
            </div>

          </a>
        </div>
      </div>
    </div>

    <!-- tim 30 shine gan nhat -->
    <div class="container">
      <a href="#" rel="noreferrer" style="text-decoration: none ;">
        <div class="layout-head">
          <div>
            <div class="head-title">
              Tìm 30shine gần nhất
            </div>
            <div class="head__title head__sub-title">Để xe thuận tiện an toàn, bản đồ dẫn đường chi tiết (hàng trăm
              Salon)
            </div>

          </div>

        </div>
      </a>

      <!-- item media  -->
      <div class="layout-list">

        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://img.youtube.com/vi/WLC5F2OWBhY/0.jpg" alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  TP. Hồ Chí Minh
                </div>
                <div class="subtitle-item">
                  50+ Salon
                </div>
              </div>
            </div>

          </a>
        </div>
        <div class="ant-row">

          <a href="#" style="text-decoration: none ;">
            <div class="ant-col">

              <div class="item-media">
                <img class="img-media" src="https://farm1.staticflickr.com/977/41205694944_57bfd3b4d3_o.jpg" alt="">
              </div>
              <div class="item-content">
                <div class="title-item">
                  Hà Nội

                </div>
                <div class="subtitle-item">
                  20+ Salon

                </div>
              </div>
            </div>

          </a>
        </div>

      </div>
    </div>
    <!-- day nghe -->
    <div class="layout layout-blog">
      <div class="container">
        <div class="layout-head">
          <div>
            <div class="head-title">
              DẠY NGHỀ TÓC NAM 30SHINE
            </div>
            <div class="head__title head__sub-title">Cam kết làm chủ mọi kỹ thuật nghề tóc chỉ từ 4-6 tháng</div>

          </div>
        </div>
        <div class="layout-blogimage blogimage">
          <div class="swiper-container container-horizontal">
            <div class="swiper-wrapper">
              <div class="swiper-slide blog">
                <a href="#" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://barber-shop.vn/wp-content/uploads/2019/10/review-dich-vu-cat-toc-nam-30shine-10.jpg"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__title">5 Điều bạn cần biết trước khi học nghề tóc
                  </div>
                </a>
              </div>
              <div class="swiper-slide blog">
                <a href="https://www.facebook.com/30shineacademy" target="_blank" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQatwp_afGu41LTNXkf19t2GO4O1Ti88Aw1ipQIaPk7swLiJX1htVAikBCqVNJ-tE-Gi_U&usqp=CAU"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__title">Trang chủ trung tâm đào tạo nghề tóc
                  </div>
                </a>
              </div>
              <div class="swiper-slide blog">
                <a href="#" rel="noreferrer">
                  <div class="blog-media">
                    <img class="image-blogmedia"
                      src="https://hocvienseoulspa.com/wp-content/uploads/2021/07/dia-chi-day-nghe-toc-o-long-an-1.jpg"
                      alt="">
                  </div>
                </a>
                <a style="text-decoration: none;" href="https://bit.ly/3wfEf5a" rel="noreferrer">
                  <div class="blog__title">Giao lưu kỹ thuật chia sẻ từ 30shine
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <%-include("footer") %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/owl.item.js"></script>
</body>

</html>