<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/datlich.css">
</head>

<body>

    <div class="calendar">
        <div class="book-calendar">
            <div class="title">ĐẶT LỊCH GIỮ CHỖ</div>
            <div class="selection">
                <p style="margin-left:40px ;">1.Chọn salon</p>
                <div class="btn">
                    <button class="vitri" id="vitri">
                        <div style="margin: 10px;"><img src="	https://30shine.com/static/media/homeOutline.76facfa5.svg"
                                alt=""></div>
                        <div class="content">Xem tất cả salon</div>
                        <div class="img-vitri"><img class="vitri-img"
                                src="	https://30shine.com/static/media/caretRight.b0d191b3.svg" alt=""></div>
                    </button>
                </div>
            </div>
            <div class="selection">
                <p style="margin-left:40px ;">2.Chọn dịch vụ</p>
                <div class="btn">
                    <button class="vitri" id="vitri">
                        <div style="margin: 10px"><img src="https://30shine.com/static/media/homeOutline.76facfa5.svg"
                                alt=""></div>
                        <div class="content">Xem tất cả dịch vụ</div>
                        <div class="image-vitri"><img class="vitri-img"
                                src="https://30shine.com/static/media/caretRight.b0d191b3.svg" alt=""></div>
                    </button>
                </div>
            </div>
            <div class="selection">
                <p style="margin-left:40px ;">3.Chọn Style list</p>
                <div class="btn">
                    <button class="vitri" id="vitri">
                        <div style="margin: 10px"><img src="https://30shine.com/static/media/homeOutline.76facfa5.svg"
                                alt=""></div>
                        <div class="content">Xem tất cả dịch vụ</div>
                        <div class="image-vitri"><img class="vitri-img"
                                src="https://30shine.com/static/media/caretRight.b0d191b3.svg" alt=""></div>
                    </button>
                </div>
            </div>
            <div class="selection">

                <div class="selection">
                    <p style="margin-left: 25px;">4.Chọn ngày, giờ</p>
                    <div class="btn">
                        <button id="btn-date">
                            <ion-icon name="calendar-outline"></ion-icon>

                            <ion-icon name="person-outline"></ion-icon>
                            Hôm nay, T5 (03/11)
                            <button>Ngày thường</button>
                        </button>
                    </div>
                </div>
                <div><button class="complete">Hoàn tất</button></div>
                <div class="cutandpay">Cắt xong trả tiền, huỷ lịch không sao</div>
            </div>


        </div>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="/jsdatlich/datlich.js"></script>
</body>

</html>