<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/datlich.css">
</head>
<body>
    
    <div class="calendar">
        <div class="book-calendar">
            <div class="title">ĐẶT LỊCH GIỮ CHỖ</div>
            <!-- <div class="selection">
                <p>1. Chọn salon</p>
                <div class="btn">
                    <button class="vitri" id="vitri">
                        <div><img src="	https://30shine.com/static/media/homeOutline.76facfa5.svg" alt=""></div>
                        <div>Xem tất cả salon</div>
                        <div><img class="vitri-img" src="	https://30shine.com/static/media/caretRight.b0d191b3.svg" alt=""></div>
                    </button>
                </div>
            </div> -->
            <div class="selection">
                <p>1.Chọn salon</p>
                <div class="btn">
                    <button class="vitri" id="vitri">
                        <div><img src="https://30shine.com/static/media/homeOutline.76facfa5.svg" alt=""></div>
                       
                        <% if (data) { %>
                            <div class="hello-world"><%= data.address %> </div>
                        <% } %>

                        <div><img class="vitri-img" src="	https://30shine.com/static/media/caretRight.b0d191b3.svg" alt=""></div>
                    </button>
                </div>
            </div>
            <div class="selection">
                <div class="btn">
                    <button>
                        <ion-icon class="first"  name="cut-outline"></ion-icon>
                        Anh chọn trước dịch vụ bên dưới để chúng em chuẩn bị chu đáo ạ
                        <ion-icon class="end"  name="chevron-forward-outline"></ion-icon>
                    </button>
                </div>
            </div>
            <div class="selection">
                <p>3. Chọn ngày, giờ & stylist</p>
                <div class="btn">
                    <button><ion-icon name="person-outline"></ion-icon>
                        Hôm nay, T5 (03/11)
                        <button>Ngày thường</button>
                        <ion-icon  name="calendar-outline"></ion-icon>
                    </button>
                </div>
            </div>
            <div><button class="complete">Hoàn tất</button></div>
            <div class="cutandpay">Cắt xong trả tiền, huỷ lịch không sao</div>
        </div>
        

    </div>





<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/js/datlich.js"></script>
</body>
</html>