<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shop.css">

    <title>Document</title>
</head>

<body>
    <div class="final" style="margin-top: 50px;">
        <div class="final-1">
            <div class="final-1-1">
                <!-- <ul> -->
                <li class="fone-zine-1">CÔNG TY CỔ PHẦN TMDV 30SHINE</li>
                <li>82 Trần Đại Nghĩa, P.Đồng Tâm,Q.Hai Bà Trưng,HN</li>
                <li>Số giấy chứng nhận kinh doanh: 010.7467.693</li>
                <li>Ngày cấp 08/06/2016</li>
                <li>Nơi cấp: Sở kế hoạch đầu tư TP Hà Nội</li>
                <!-- </ul> -->
            </div>
            <div class="final-1-2">
                <img class="final-1-2_img-1"
                    src="https://storage.30shine.com/ResourceWeb/data/images/congthuongicon.png" alt="">
                <img class="final-1-2_img-2"
                    src="https://images.dmca.com/Badges/dmca_protected_26_120.png?ID=1e720659-fbd3-461e-858a-89ef9307260a"
                    alt="">
                <a href=""></a>
            </div>
            <div class="final-1-3">
                <li>Chấp nhận thanhh toán</li>
                <img src="https://shop.30shine.com/images/mastercard.svg" alt="">
                <img src="https://shop.30shine.com/images/visa.svg" alt="">
            </div>
        </div>
        <div class="final-2">
            <div class="final-2-1">
                <li class="fone-zine-1">LIÊN KẾT</li>
                <li>Giới thiệu</li>
                <li>Fanpage</li>
                <li>Liên hệ - Hỏi đáp</li>
                <li>Chính sách bảo mật</li>
                <li>Điều kiện giao dịch chung</li>
            </div>
            <div class="final-2-2"></div>
        </div>
        <div class="final-3">
            <div class="final-3-1">
                <li class="fone-zine-1">ỨNG DỤNG CỦA 30SHINE</li>
                <li>Trải nghiệm lịch đặt nhanh chóng và nhiều tiện ích khác với ứng dụng 30Shine.</li>
            </div>
            <div class="final-3-2">
                <img src="https://shop.30shine.com/icons/google-play.png" alt="">
                <img src="https://shop.30shine.com/icons/app-store.png" alt="">
            </div>
            <div class="final-3-3">
                <span class="final-3-3_dathang">HOT LINE ĐẶT HÀNG</span>
                <div class="final-3-3_hotline">
                    <img src="https://shop.30shine.com/icons/phone-2.svg" alt="">
                    <span class="final-3-3_hotline-2">HOTLINE: 1900.27.27.30(Miễn Phí)</span>
                </div>
            </div>
        </div>

    </div>
    <div class="the-end-bye">
        <span>Copyright ©2020 30shine. All Right Reserved</span>
    </div>
</body>

</html>