<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./muaban1.css">
</head>
<body>
    <div class="project_purchase">
        <div class="container-1">
            <span class="logo-30shine">
                <a href="#">
                    <img src="https://shop.30shine.com/images/Logo_30shine.svg" alt="">
                </a>
            </span>
            <span class="search">
                <p class="tim-kiem">TÌM KIẾM</p>
                <input class="search-item" type="text" placeholder="nhập tên sản phẩm, thương hiệu..." >
                <p class="btn"><img src="https://shop.30shine.com/icons/login-30shine.svg" alt=""> ĐĂNG NHẬP</p>
                <button class="btn_icon-cart"><ion-icon name="cart-outline"></ion-icon></button>
            </span>   
        </div>
        <div class="tools">
            <ul class="tools-1">
                <li>Trang chủ
                   /
                <li>Chăm Sóc Da
                    /
                </li>
                <li>Serum Da DaBo 7in1 Black Force - Làm đẹp dễ dàng với 7 bước dưỡng da trong 1 sản phẩm</li>
            </ul>
        </div>
        <div class="oder"> 
            <div class="oder_buying-1">
                <img src="https://static.30shine.com/shop-admin/2022/04/08/30SF92PW-S%C3%A1p%20Glanzen%20Clay%20-%20USP-2.jpg" class="d-block w-100" alt="...">
                <span>
                    <img class="oder_buying-1-img" src="https://static.30shine.com/shop-admin/2022/04/08/30SF92PW-S%C3%A1p%20Glanzen%20Clay%20-%20USP-2.jpg" alt="">
                    <img class="oder_buying-1-img" src="https://static.30shine.com/shop-admin/2021/09/29/30S0KJ5N-3.jpg" alt="">
                    <img class="oder_buying-1-img" src="https://static.30shine.com/shop-admin/2021/09/29/30S2PHB1-4.jpg" alt="">
                    <img class="oder_buying-1-img" src="https://static.30shine.com/shop-admin/2021/12/28/30SBXPGM-S%C3%A1p%20Glanzen%20Clay%20-%20Info-1.jpg" alt="">
                    <img class="oder_buying-1-img" src="https://static.30shine.com/shop-admin/2022/04/08/30SF92PW-S%C3%A1p%20Glanzen%20Clay%20-%20USP-2.jpg" alt="">
                </span>
            </div>
            <div class="oder_buying-2">
                <h2>Glanzen Prime - Floral | Phiên Đặc Biệt Hương Hoa</h2>
                <div class="oder_buying-2-icon">
                    <div class="oder_buying-2-icon-1">
                        <span>5</span>
                        <svg class="w-2.5 h-2.5 md:w-4 md:h-4 lg:w-4 lg:h-4 fill-current
					    text-yellow-50
					    " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" stroke="#ffcc33" stroke-width="1"></path></svg>
                        <svg class="w-2.5 h-2.5 md:w-4 md:h-4 lg:w-4 lg:h-4 fill-current
					    text-yellow-50
					    " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" stroke="#ffcc33" stroke-width="1"></path></svg><svg class="w-2.5 h-2.5 md:w-4 md:h-4 lg:w-4 lg:h-4 fill-current
					    text-yellow-50
					    " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" stroke="#ffcc33" stroke-width="1"></path></svg><svg class="w-2.5 h-2.5 md:w-4 md:h-4 lg:w-4 lg:h-4 fill-current
					    text-yellow-50
					    " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" stroke="#ffcc33" stroke-width="1"></path></svg><svg class="w-2.5 h-2.5 md:w-4 md:h-4 lg:w-4 lg:h-4 fill-current
					    text-yellow-50
					    " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" stroke="#ffcc33" stroke-width="1"></path></svg>
                        <span>2 đánh giá</span>
                    </div>
                </div>
                <div class="table2-1">
                            <span id="tienao">359</span>,000₫
                        </div>
                <div class="oder_buying-2-icon-3">
                    <div class="table2">
                        <!-- <div class="table2-1">
                            <span id="tienao">359</span>,000₫
                        </div> -->
                        <span class="soluong">Số Lượng</span>
                        <div class="media">
                            <button class="tong" id="btn-tru">-</button>
                            <span id="media-number">1</span>
                            <button class="tong" id="btn-cong">+</button>
                        </div>
                        <div>
                            <span id="gia-tien">
                                <b>359</b>
                           
                                <b>,000₫</b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="oder_manh">
                    <h5 class="oder_manh-h5">THÔNG TIN ĐƠN HÀNG</h5>
                    <hr>
                        <div class="oder1">
                             <p class="oder_manh-p">
                                Tổng tiền:
                                <span class="oder1">
                                    <b>,000₫</b>
                                </span>
                                <span id="tiendo">
                                    <b>359</b>
                            </span>
                            </p>
                        </div>
                    </hr>
                </div> 
             </div>
            <div class="pay">
                <ul class="list-group">
                    <li class="list-group-item">
                        <img src="https://shop.30shine.com/icons/usp-detail-icon-1.png" alt="">
                        <span>Cam kết 7 ngày hiệu quả</span>
                    </li>
                    <li class="list-group-item">
                        <img src="https://shop.30shine.com/icons/usp-detail-icon-2.png" alt="">
                        <span>Mua 1 hưởng 5 đặc quyền</span>
                    </li>
                    <li class="list-group-item">
                        <img src="	https://shop.30shine.com/icons/usp-detail-icon-3.png" alt="">
                        <span>Chính sách hoàn tiền 120%</span>
                    </li>
                    <li class="list-group-item">
                        <img src="https://shop.30shine.com/icons/usp-detail-icon-4.png" alt="">
                        <span>Chất lượng sản phẩm cao nhất</span>
                    </li>
                    <li class="list-group-item">
                        <img src="	https://shop.30shine.com/icons/usp-detail-icon-5.png" alt="">
                        <span>Giao hàng siêu tốc 2h</span>
                    </li>
                    <li class="list-group-item">
                        <img src="	https://shop.30shine.com/icons/usp-detail-icon-6.png" alt="">
                        <span>Đổi trả tận nơi trong 24h</span>
                    </li>
                    <li class="list-group-item">
                        <img src="https://shop.30shine.com/icons/usp-detail-icon-7.png" alt="">
                        <span>Tổng đài tư vấn mọi lúc mọi nơi</span>
                    </li>
                    <li class="list-group-item">
                        <img src="https://shop.30shine.com/icons/usp-detail-icon-8.png" alt="">
                        <span>An toàn chuẩn giao vận quốc tế</span>
                    </li>
                    <li class="list-group-item">
                        <img src="https://shop.30shine.com/icons/icon-phone.svg" alt="">
                        <span class="hotline">1900.27.27.30</span>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="final">
            <div class="final-1">
                <div class="final-1-1">
                    <!-- <ul> -->
                        <li class="fone-zine-1">CÔNG TY CỔ PHẦN TMDV 30SHINE</li>
                        <li>82 Trần Đại Nghĩa, P.Đồng Tâm,Q.Hai Bà Trưng,HN</li>
                        <li>Số giấy chứng nhận kinh doanh: 010.7467.693</li>
                        <li>Ngày cấp 08/06/2016</li>
                        <li>Nơi cấp: Sở kế hoạch đầu tư TP Hà Nội</li>
                    <!-- </ul> -->
                </div>
                <div class="final-1-2">
                        <img  class="final-1-2_img-1" src="https://storage.30shine.com/ResourceWeb/data/images/congthuongicon.png" alt="">
                        <img class="final-1-2_img-2" src="https://images.dmca.com/Badges/dmca_protected_26_120.png?ID=1e720659-fbd3-461e-858a-89ef9307260a" alt="">
                    <a href=""></a>
                </div>
                <div class="final-1-3">
                    <li>Chấp nhận thanhh toán</li>
                    <img src="https://shop.30shine.com/images/mastercard.svg" alt="">
                    <img src="https://shop.30shine.com/images/visa.svg" alt="">
                </div>
            </div>
            <div class="final-2">
                <div class="final-2-1">
                    <li class="fone-zine-1">LIÊN KẾT</li>
                    <li>Giới thiệu</li>
                    <li>Fanpage</li>
                    <li>Liên hệ - Hỏi đáp</li>
                    <li>Chính sách bảo mật</li>
                    <li>Điều kiện giao dịch chung</li>
                </div>
                <div class="final-2-2"></div>
            </div>
            <div class="final-3">
                <div class="final-3-1">
                    <li class="fone-zine-1">ỨNG DỤNG CỦA 30SHINE</li>
                    <li>Trải nghiệm lịch đặt nhanh chóng và nhiều tiện ích khác với ứng dụng 30Shine.</li>
                </div>
                <div class="final-3-2">
                    <img src="https://shop.30shine.com/icons/google-play.png" alt="">
                    <img src="https://shop.30shine.com/icons/app-store.png" alt="">
                </div>
                <div class="final-3-3">
                    <span  class="final-3-3_dathang" >HOT LINE ĐẶT HÀNG</span>
                    <div class="final-3-3_hotline">
                            <img src="https://shop.30shine.com/icons/phone-2.svg" alt="">
                            <span class="final-3-3_hotline-2">HOTLINE: 1900.27.27.30(Miễn Phí)</span>
                    </div>
                </div>
            </div>
            
        </div> 
        <div class="the-end-bye">
            <span>Copyright ©2020 30shine. All Right Reserved</span>
        </div>
    </div>
    







    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="./muaban1.js"></script>

</body>
</html>




