<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/service.css">
</head>
<body>
    
    <div class="booking-single-screen">
        <div class="booking-single-screen-1">
            <img  class="booking-single-screen-1-img" src="	https://30shine.com/static/media/arrowLeft.3e6be3da.svg" alt="">
            <span class="booking-single-screen-1-1">Chọn dịch vụ</span>
            <span class="booking-single-screen-1-quy">1k = 1000đ</span> 
           
        </diclass=>
        <div class="booking-single-screen-2">
            <div class="service">
                <div class="service-1"></div>
                <div class="service-2"></div>
                <div class="service-3"></div>
            </div>
        </div>
        <div class="booking-single-screen-3"></div>
    </div>




</body>
</html>