<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/service.css">
</head>
<body>
    
    <div class="booking-single-screen">
        <div class="booking-single-screen-1">
            <img  class="booking-single-screen-1-img" src="	https://30shine.com/static/media/arrowLeft.3e6be3da.svg" alt="">
            <span class="booking-single-screen-1-1">Chọn dịch vụ</span>
            <span class="booking-single-screen-1-quy">1k = 1000đ</span> 
        </div>
        <div class="booking-single-screen-2">
            <div class="service">
                <div class="service-1">
                    <span>Cắt gội massage</span>
                    <span>Combo chăm sóc da</span>
                    <span>Uốn Hàn Quốc</span>
                </div>
                <div class="service-2">
                    <div class="service-2-1">
                            <img src="https://30shine.com/static/media/bot_avatar_1654_1.26e1da41.jpg" alt="">
                            <span class="service-2-span">
                                Ngoài gói Shine Combo 10 bước nổi tiếng, chúng em còn có rất nhiều gói Chăm sóc da, Lấy ráy tai và Uốn/Nhuộm dùng kèm rất tốt nữa đó
                            </span>
                    </div>
                    <div class="service-2-2">
                        <div class="service-2-2-1">CẮT GỘI MASSAGE</div>
                        <div>8 Dịch vụ</div>
                    </div>
                </div>
                <div class="service-3">
                    <div class="service-3-1">
                        <div class="service-3-1-1">
                            <img src="https://storage.30shine.com/service/combo_booking/511.jpg" alt="">
                            <div class="sokai">
                                <span>ShineCombo cắt gội 10 bước</span>
                            </div>
                            <p>Đặc sắc nổi tiếng</p>
                            <div class="nedan">
                                <span>100K</span>
                            </div> 
                            <div class="service-3-button">
                                <button>Chọn</button>
                            </div>
                        </div>
                        <div class="service-3-1-1">
                            <img src="	https://s3.ap-southeast-1.amazonaws.com/storage.30shine.com/service/combo_booking/638.jpg" alt="">
                            <div class="sokai">
                                <span>Combo Cắt gội VIP</span>
                            </div>
                            <p>Đặc sắc nổi tiếng</p>
                            <div class="nedan">
                                <span>250K</span>
                            </div> 
                            <div class="service-3-button">
                                <button>Chọn</button>
                            </div>
                        </div>
                    </div>
                    <div class="service-3-1">
                        <div class="service-3-1-1">
                            <img src="	https://s3.ap-southeast-1.amazonaws.com/storage.30shine.com/service/combo_booking/628.jpg" alt="">
                            <div class="sokai">
                                <span>Combo cắt gội massage đá nóng</span>
                            </div>
                            <p>Phòng gội VIP nhất từ trước đến giờ!!!</p>
                            <div class="nedan">
                                <span>320K</span>
                            </div> 
                            <div class="service-3-button">
                                <button>Chọn</button>
                            </div>
                        </div>
                        <div class="service-3-1-1">
                            <img src="https://s3.ap-southeast-1.amazonaws.com/storage.30shine.com/service/combo_booking/633.jpg" alt="">
                            <div class="sokai">
                                <span>Cắt gội Kid Combo</span>
                            </div>
                            <p>Được sử dụng đầy đủ các bước dịch vụ</p>
                            <div class="nedan">
                                <span>80K</span>
                            </div> 
                            <div class="service-3-button">
                                <button>Chọn</button>
                            </div>
                        </div>
                    </div>
                    <div class="service-3-1">
                        <div class="service-3-1-1">
                            <img src="	https://s3.ap-southeast-1.amazonaws.com/storage.30shine.com/service/combo_booking/614.jpg" alt="">
                            <div class="sokai">
                                <span>Gội nâng cấp thư dãn</span>
                            </div>
                            <p> Nâng cấp các động tác massage mới</p>
                            <div class="nedan">
                                <span>50K</span>
                            </div> 
                            <div class="service-3-button">
                                <button>Chọn</button>
                            </div>
                        </div>
                        <div class="service-3-1-1">
                            <img src="https://s3.ap-southeast-1.amazonaws.com/storage.30shine.com/service/combo_booking/602.jpg" alt="">
                            <div class="sokai">
                                <span>Gội massage dưỡng chất Midnight</span>
                            </div>
                            <p>Chăm da bằng máy dưỡng chất</p>
                            <div class="nedan">
                                <span>225K</span>
                            </div> 
                            <div class="service-3-button">
                                <button>Chọn</button>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
        <div class="booking-single-screen-3"></div>
    </div>




</body>
</html>