<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/vitri.css">
</head>

<body>

    <div class="vitri-30shine">
        <div class="location">
            <div class="location-area-1">
                <div class="location-area-1-1">
                    <img class="location-area-1-1-img" src="https://30shine.com/static/media/arrowLeft.3e6be3da.svg"
                        alt="">
                </div>
                <span>Chọn salon</span>
            </div>
            <div class="location-area-2">
                <img src="https://30shine.com/static/media/bot_avatar_1654_1.26e1da41.jpg" alt="">
                <div class="location-area-2-1">
                    <p>Anh đang khóa quyền truy cập vị trí, anh tìm salon theo thành phố bên dưới nhé!</p>
                </div>
            </div>


        </div>
    </div>








    <script src="/js/vitri.js"></script>

</body>

</html>